/* Phần đầu trang */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  color: #fff;
  font-size: 2em;
  cursor: pointer;
}

.header_menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header_list {
  position: absolute;
}

.header_menu-item {
  align-items: center;
  position: absolute;
  display: flex;
  width: 120px;
  height: 28px;
  background: #00ffe2;
  border-radius: 30px;

  list-style: none;
  transition: 0.5s linear;
  transition-delay: calc(0.1s * var(--i));
  justify-content: center;

  transform: scale(0.001);
}

.header_menu.active li {
  transform: translateX(calc(-600px / 4 * var(--i)));
}

@media (max-width: 480px) {
  .header {
    padding: 60px 50px;
  }
  .header_menu.active li {
    transform: translateY(calc(300px / 4 * var(--i)));
  }
  .header_open.active {
    transform: rotate(0) !important;
  }

  .progress-container {
    width: 250px !important;
  }

  .header_menu-item {
    margin-right: -40px;
  }
}

.header_menu-link {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #111;
  letter-spacing: 1px;
}

.header_open {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  font-size: 2.3em;
  color: #fff;
  transition: 0.5s;
}

.header_open.active {
  transform: rotate(90deg);
}

/* Phần thân trang */
.music-container {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.music-info {
  opacity: 0;
  width: calc(100% -40px);
  transform: translateY(0);
  opacity: 0;
  transition: 0.3s linear;
  margin-bottom: 20px;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-20px);
}

.music-info h4 {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  text-shadow: 1px 1px 3px #111;
  color: #fff;
  line-height: 2em;
  letter-spacing: 4px;
}

.navigation {
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.5);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.btn-normal {
  background: transparent;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
  color: #fff;
  outline: none;
  transition: 0.2s linear;
}

.btn-normal:hover {
  color: #00ffe2;
  transform: translateY(-4px);
}

.btn-big {
  font-size: 20px;
}

.progress-container {
  background: #ffff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 400px;
}

.progress {
  background: #00ffe2;
  border-radius: 5px;
  height: 100%;
  width: 0;
  transition: width 0.1s linear;
}

/* Phần cuối trang */

/* Nút dark mode */
.toggle-dark {
  position: absolute;
  top: 0;
  width: 110px;
  height: 60px;
  right: 20px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  transform: scale(0.7);
}

.border-dark {
  position: absolute;
  width: 110px;
  height: 40px;
  background: transparent;
  border-radius: 37px;
  border: 2px solid #fff;
}

.toggle-dark .input {
  position: absolute;
  appearance: none;
}

.icon {
  position: absolute;
  left: 4px;
  width: 55px;
  height: 32px;
  background: #b9c7d4;
  border-radius: 20px;
  transition: 0.5s;
}

.toggle-dark .input:checked ~ .icon {
  left: 50px;
}

.iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(#bfd2e1);
}

.iconBox ion-icon {
  color: #fff;
  font-size: 1.5em;
  --ionicon-stroke-width: 40px;
  transition: 0.5s;
}

.toggle-dark .input:checked ~ .icon .iconBox ion-icon {
  color: #00ffe2;
}

.toggle-dark .input:checked ~ .icon {
  background: #03a8f4;
}
.toggle-dark .input:checked ~ .border-dark {
  border-color: #00ffe2;
}
