* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  overflow: auto;
  transition: 0.5s;
}

.showcase.active {
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-size: 2em;
  cursor: pointer;
}

.showcase video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a8f426;
}

.text {
  position: relative;
  z-index: 10;
  text-shadow: 1px 1px 3px #111;
  color: #fff;
}

.text h2 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  font-size: 1.4em;
  margin-top: 20px;
  font-weight: 400;
  max-width: 600px;
}

.btn {
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  background: white;
  padding: 5px 30px;
  border-radius: 25px;
  text-decoration: none;
  color: #fff;
  margin-top: 10px;
  letter-spacing: 2px;
  transition: 0.2s linear;
  outline: none;
  text-transform: uppercase;
}

.btn:hover {
  background: #03a8f4;
  color: white;
}

.social {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  color: white;
  font-size: 2em;
  margin-right: 20px;
  transform: scale(1);
  transition: 0.4s;
}

.social li a:hover {
  transform: scale(1) translateY(-5px);
}

@media (max-width: 480px) {
  .showcase header {
    padding: 40px 30px;
  }

  .text h2 {
    text-align: center;
    font-size: 4em;
  }
}

/* menu list */
.menu {
  position: relative;
  height: 48px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu li {
  align-items: center;
  position: absolute;
  display: flex;
  width: 100px;
  list-style: none;
  transition: 0.5s linear;
  transition-delay: calc(0.1s * var(--i));
  justify-content: center;
  transform: scale(0.001);
}

.menu.active li {
  transform: translateX(calc(-600px / 4 * var(--i)));
}

.menu li a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px #111;
}

.toggle-open {
  position: absolute;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-size: 2.3em;
  color: #fff;
  transition: 0.5s;
}

.toggle-open.active {
  transform: rotate(90deg);
}

.toggle-dark {
  position: absolute;
  top: 0;
  width: 110px;
  height: 60px;
  right: 20px;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

/* .toggle-dark::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 39px;
  background: transparent;
  border-radius: 37px;
  border: 2px solid #fff;
} */
.border-dark {
  position: absolute;
  width: 110px;
  height: 40px;
  background: transparent;
  border-radius: 37px;
  border: 2px solid #fff;
}

.toggle-dark .input {
  position: absolute;
  appearance: none;
}

.icon {
  position: absolute;
  left: 4px;
  width: 55px;
  height: 32px;
  background: #b9c7d4;
  border-radius: 20px;
  transition: 0.5s;
}

.toggle-dark .input:checked ~ .icon {
  left: 50px;
}

.iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(#bfd2e1);
}

.iconBox ion-icon {
  color: #fff;
  font-size: 1.5em;
  --ionicon-stroke-width: 40px;
  transition: 0.5s;
}

.toggle-dark .input:checked ~ .icon .iconBox ion-icon {
  color: #00ffe2;
}

.toggle-dark .input:checked ~ .icon {
  background: #03a8f4;
}
.toggle-dark .input:checked ~ .border-dark {
  border-color: #00ffe2;
}
/* 
.showcase.active ~ video  */
.video-bg-1.active {
  display: none;
  opacity: 1;
}
